
# Build files
bin/
obj/

# VS Code settings
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Dotnet specific
*.dotnet*
*.dbmdl

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Docker artifacts
**/docker-data/

# OS-specific
.DS_Store
Thumbs.db

# Ignore local launch settings
launchSettings.json
/www
/backups
