name: Automated Tests

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Start Docker services
        run: |
          docker-compose up -d

      - name: Run integration tests
        run: dotnet test --filter Category=Integration

      - name: Upload test reports
        uses: actions/upload-artifact@v5
        with:
          name: integration-test-results
          path: TestResults/
